.main {
  background-image: url("../mainImg.jpg");
  width: 100vw;
  height: calc(100vh - 56px);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: white;
}

.mainTitle {
  max-width: 550px;
  min-width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.mainTitle h1 {
  font-size: 4rem;
}

.mainTitle p {
  margin: 0;
}

.mainTitle button {
  width: 200px;
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.5);
}

.mainTitle button:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.5);
  color: white;
}
