<!-- login page -->
<% layout('layouts/boilerplate') %>
    <h1>Login</h1>
    <!-- login form -->
    <form action="/login" method="POST" class="validated-form" novalidate>
        <!-- username -->
        <div class="mb-3">
            <label class='form-label' for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" required value="test">
        </div>
        <!-- password -->
        <div class="mb-3">
            <label class='form-label' for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required value="test1234">
        </div>
        <button class="btn btn-success">Login</button>
    </form>