<!-- register page -->
<% layout('layouts/boilerplate') %>
    <!-- register title -->
    <h1>Register</h1>
    <!-- register form -->
    <form action="/register" method="POST" class="validated-form" novalidate>
        <!-- user name -->
        <div class="mb-3">
            <label class='form-label' for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" required>
        </div>
        <!-- email -->
        <div class="mb-3">
            <label class='form-label' for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email" required>
        </div>
        <!-- password -->
        <div class="mb-3">
            <label class='form-label' for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <!-- register buttom -->
        <button class="btn btn-success">Register</button>
    </form>